.nav-item{
    color:rgb(223, 248, 0);
}
.size{
  width:300px;
  height:300px;
}
.carousel .item img{ 
  margin:auto; 
  height: 700px;

}

.class1{
  width:150px;
}

footer {
  background-color: #D1C3BA;
  padding: 25px;
  display: block;
}

.carousel-inner img {
  width: 60%; 
  min-height: 200px;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

.card {
  background-color: rgb(165, 131, 105);
}



#main{
  background-color: #9F897D;
}

.dropdown-menu{
  background-color: beige;
}
.button{
  background-color: black;
}
.class1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.classcenter{
  background-color: #8C6E5E;
  align-items: center;

}

.image-size{
  width: 30px;
  height: 30px;

}
.links{
  font-size: 20px;
  color: black;
}
.bigText{
  font-size: 25px;
  color: black;
}


.footer-color{
  background-color: burlywood;
}

.div-border{
  border-style:solid;
  border-width:1px;
}


table {
  border-collapse: collapse;
}

td, 
th {
  margin: 15px;
  padding: 15px;
  border: 1px solid black;
  border-right:1px;

}


.footer-first-div{
  align-items: left;
}

.contact-sizing{
  width: 100px;
  height: 100px;
}

.phone-sizing{
  width:20px;
  height:20px;
}

.table-design{
  background-color: coral;
}
.background{
  background-color:rgb(165, 131, 105);
  padding-bottom:0px;
  border-radius:0px;
  justify-content: center;
}
.hi{
  align-items: center;
}

.background_color{
  background-color:#8C6E5E;
}
.nav_color{
  background-color:#757575;
}
.divs_color{
  
}