.nav-item{
    color:rgb(223, 248, 0)
}
.size{
  width:300px;
  height:300px;
}
.carousel .item img{ margin:auto; width:100%}



.class1{
  width:150px;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; 
  min-height: 200px;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

#main{
  background-color: #9F897D;
}

.dropdown-menu{
  background-color: beige;
}
.button{
  background-color: black;
}
.class1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.classcenter{
  background-color: #8C6E5E;
}

.image-size{
  width: 30px;
  height: 30px;

}

.footer-color{
  background-color: burlywood;
}